body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    background: linear-gradient(to right, #120b77, #c515f5);
    background-clip: text;
    color: transparent;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 11px;
    margin: 80px auto;
    width: 321px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    background-color: #d4d3d4;
    cursor: pointer;
    user-select: none;
  }
  
  #message {
    font-size: 24px;
    margin: 10px;
  }
  
  #reset-button {
    font-size: 18px;
    padding: 20px 40px;
    background-color: #571371;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
